---

title: JHSD [2016] - Sikh History

---
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='//fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/reset.css">
    <!-- CSS reset -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Resource style -->
    <script src="js/modernizr.js"></script>
    <!-- Modernizr -->

    <title>{{ page.title }}</title>
</head>
<body>
<header>
    <h1>{{ page.title }}</h1>
</header>
<section id="cd-timeline" class="cd-container">
    {% for event in site.data.jhsd-history %}
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="img/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>{{ event.title }}</h2>
            <article class="readmore"><p>{{ event.description }}</p>
                {% if event.media.image %}
                <div class="media">
                    <img src="img/pics/{{ event.media.image }}" alt="{{ event.title }}">
                </div>
                {% endif %}
            </article>
            <span class="cd-date">{{ event.date }}</span>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    {% endfor %}

</section>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="js/main.js"></script>
<script src="js/vendor/jedfoster/readmore/readmore.min.js"></script>
</body>
</html>